html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
    text-align: center;
    padding-bottom: 20px;
    line-height: 27px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}
.report-form-type .tabs-krajee.tabs-left .nav-tabs{
    width: 200px;
    text-align: center;
}
.report-form-type .tabs-krajee.tabs-left .tab-content {
    margin-left: 199px;
}


.report-form-type .nav-tabs{
    text-align: center;
    font-family: Play,sans-serif;
    font-size: 18px;
}

.report-form-type .nav > li > a{
    background-color: #eee;
    border-color: #ddd #ddd #eee #ddd;
}
.report-form-type .nav > li.active > a{
    background-color: #fff;
}
.report-form-type .tab-content {
    padding: 10px;
    border: 1px solid #ddd;
    border-top: none;
}

.report-form-type .tab-content > .tab-pane {
    padding: 15px;
}
.tab-icon{
    display: inline-block;
    width: 100%;
    font-size: 30px;
}
.report-form-type .tabs-left .tab-content{
    border: 1px solid #ddd;
}
.fader{
    display: none;
}
.report-form-type label{
    font-family: 'Play', sans-serif;
    font-weight: 700;
    font-size: 15px;
}
.report-type-cover {
    border-bottom: 1px dashed #ccc;
    padding: 0 0 10px 0;
    overflow: hidden;
    margin-bottom: 10px;
}
.general_heading{
    font-family: 'Play',sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 15px;
    margin-top: 15px;
    text-align: center;
}
.equal-divider th{
    width: 50%;
}
.report-view-sign{
    line-height: 26px;
}

.main-heading{
    font-family: 'Play',sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 20px;
}
.righter{
    text-align: right;
}
.grid-div{
    padding: 6px 4px;
    font-family: 'Play',sans-serif;
    overflow: hidden;
    font-size: 16px;
}
.grid-div:nth-child(odd){
    background-color: lightgoldenrodyellow;
}
.pad-lim{
    padding: 10px 0!important;
    font-size: 18px;
    font-family: Play,sans-serif;
}
.pad-remove{
    padding: 0!important;
}

.label-siding{
    padding: 4px 0 0!important;
    text-align: center;
    font-size: 18px;
    font-family: Play;
}

.pad-remove-left{
    padding-left: 0;
}

.pad-remove-right{
    padding-right: 0;
}
.top-20-marginer{
    margin-top: 20px;
}
.centre-align{
    text-align: center;
}
.piechart{
    text-align: center;
    display: table;
    margin: 0 auto;
    height: 300px;
}

.barchart{
    text-align: center;
}
.report-form .nav-tabs > li {
    float: left;
    margin-bottom: -1px;
    max-width: 165px;
    height: 112px;
}

.report-form .nav-tabs{
    font-size: 15px!important;
}
.report-form .tab-icon{
    font-size: 21px;
}
.report-form- .nav > li.active > a {
    background-color: #fff;
    height: 100%;
}

.report-form .nav > li > a{
    height: 100%;
}